COGNITO_REGION=us-east-2
COGNITO_USER_POOL_ID=us-east-2_XXXXXXXXX
COGNITO_APP_CLIENT_ID=your_app_client_id_here
ALPHA_VANTAGE_API_KEY=your_alpha_vantage_key
SQLALCHEMY_DATABASE_URI=sqlite:///portfolio.db
